.inicio__noticias{
    position:absolute;
    background-color: black;
    width: 600px;
    transform: translate(50px, 200px);
    border: 5px dashed red;
    text-decoration: none;
}
.inicio__h2{
    color: white;
    font-size: 50px;
    text-align: center;
}
.inicio__h3{
    color: white;
    font-size: 40px;
    text-align: center;
}
.discografia{
    background-image: url("../imagenes/fondo_discografia.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100%;
}
.discografia__titulo{
    font-family: "Russo One", sans-serif;
    text-align:center;
    color: white;
    font-size: 70px;
    border:5px solid rgb(250, 157, 35);
}
.discografia__subtitulo{
    font-family: "roboto condensed", sans-serif;
    padding: 50px 0 0 20px;
    color:white;
}
.content{
    display: grid;  
	grid-template-columns: 1fr 1fr 1fr;
    border:5px solid black;
    background-color: white;
}
.content__discos{
    display: flex;
    justify-self: center;
}
.discos__img{
    width: 400px;
    height: 400px;
    border:5px solid rgb(250, 157, 35);
}
.content__lista{
    display:flex;
    flex-direction: row;
    flex-wrap:wrap;
    justify-content:flex-start;
    padding-left: 250px;
    margin-top: 20px;
}
.content__ol{
    padding: 0px;
}
.content__li a{
    font-size: 15px;
    color:black;
}
.content__botones{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.content__botones h2{
    font-family: "Russo One", sans-serif; 
}
.content__logos a{
    filter: grayscale(1);
    transition: all 0.6s ease;
}
.content__logos a:hover{
    filter: grayscale(0);
    transition:all 0.8s ease;
}
.logo{
   margin-left: 40px;
    width: 50px;
    height: 50px;
}
.content__boton{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-around;
}
.boton__pers{
    margin-bottom: 50px;
}
.boton__persn:hover {
color: red !important;
}
@keyframes efecto__girar {
  0%{ transform: rotate(0deg);}
  10%{ transform: rotate(45deg);}
  25%{ transform: rotate(90deg);}
  35%{ transform: rotate(120deg);}
  50%{ transform: rotate(180deg);}
  60%{ transform: rotate(240deg);}
  75%{ transform: rotate(280deg);}
  85%{ transform: rotate(320deg);}
  100%{ transform: rotate(360deg);}
}
.discos__img:hover{
    animation-name: efecto__girar;
  animation-iteration-count: infinite;
  animation-duration: 3s;
}
@keyframes aparecer {
    0% { opacity: 0;}
    100% { opacity: 1;}
 }
 @keyframes none{
 }
 .inicio__noticias {
    animation-duration: 2s;
    animation-name: aparecer;
    animation-iteration-count: infinite;
 }
 .inicio__noticias:hover{
    animation-name:none;
 }
 @media (max-width:991px){
    .inicio__noticias{
        position: absolute;
        top:0;
        width:270px;
        margin-top: 130px;
    }
    .inicio__h2{
        font-size: 40px;
    }
    .inicio__h3{
        font-size: 25px;
    }
    .discografia__titulo{
        font-size: 50px;
    }
    .content{
        display:flex;
        flex-direction: column;
        align-items: center;
    }
    .discos__img{
        width: 300px;
        height: 300px;
    }
    .content__lista{
        padding: 0px;
        border-bottom: 2px solid;
    }
    .content__logos{
        display: flex;
        flex-direction: row;
        padding-right: 40px;
    }
    .boton__pers{
        margin:0px;
    }
 }

 