*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    list-style: none;
}

@font-face {
    font-family: "Roboto Condensed";
    src: url("./fuente/Roboto_Condensed/RobotoCondensed-Light.ttf")
}

@font-face {
    font-family: "russo one";
    src: url("./fuente/Russo_One/RussoOne-Regular.ttf");
}
.nav-link:hover {
    color:red !important; 
    
}
.head nav {
    width:100%;
    display: grid;
    grid-template-columns: 1fr 9fr;
    grid-template-rows: center;
    align-items: start;
    background-color: rgb(51, 50, 50);
    height: 90px;
}

.head nav img {
    width: 90px;
    height: 80px;
}

.head nav ul {
    display:flex;
    flex-wrap:wrap;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 30px;
    
}

.head nav ul li a {
    font-size: 20px;
    color: white;
    font-family: "Russo One", sans-serif;

}

.head nav ul li a:hover {
    color:rgb(243, 63, 63);
}

.bienvenida {
    display:relative;
    background-image: url("imagenes/Sin-nombre.jpg");
    margin-top:10px;
    height:850px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.box {
    display:block;
    width:75px;
    height:75px;
    margin:5px;
}

.box.sticky img {
    border: 5px solid red;
    border-radius:50%;
    width:110px;
    height:105px;
}
.box.sticky {
    position: absolute;
    top: 0px;
    margin-left: 1600px;
    margin-top:700px;
}

.bienvenida h1 {
text-align:center;
color:white;
font-size:140px;
padding-top:150px
}

.titulo {
    background-image: url('imagenes/20765.jpg');
    height: 1050px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.titulo h1 {
    padding-top: 10px;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: "roboto condensed", sans-serif;
}

.titulo p {
    color: white;
    font-size: 25px;
    text-align: justify;
    margin: 70px 70px;  
}

.discos h2 {
font-family: "roboto condensed", sans-serif;
font-size: 40px;
}

.discos {
    color: white;
    text-align: center;
    margin-top: 100px;
}

.discos table {
    font-size: 20px;
    margin: 0 auto;
    border-collapse: collapse;
}
 
.discos table tr td {
    border: 1px solid white;
    padding: 5px;
}
 
.multimedia {
    color: white;
    font-size: 25px;
    margin-top: 10px;
    padding: 50px;
    text-align: center;
    background-image: url('imagenes/audience-band-concert-crowd-wallpaper-preview.jpg');
    height: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.multimedia .fotos h2 {
    font-family: "roboto condensed", sans-serif;
    font-size: 40px;
    background-color: brown;
    width: 100%;
    height: 60px;
    padding-top: 10px;
}

.fotos img {
    border-style: solid;
    border-radius: 10%;
    width: 400px;
    height: 300px;
    padding: 2px;
    margin: 10px;
}

.fotos img:hover {
    color:rgb(243, 63, 63);
}
.videos h2 {
font-family: "roboto condensed", sans-serif;
    font-size: 40px;
    background-color: brown;
    width: 100%;
    height: 60px;
    padding-top: 10px;
}
.videos iframe {
    margin-top: 20px;
    padding: 0px 70px 0px 70px;
    border-radius: 13%;
}
.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-image: url("imagenes/contact.jpg");
    background-size: cover;
    padding-top: 5px;
    padding-bottom: 5px;
    height: 450px;
    align-items: center;
}

.formulario h2 {
    font-family: "roboto condensed", sans-serif;
    font-size: 40px;
    background-color: black;
    color: white;
    margin-top: 20px;
}

.datos {
    text-align: center;
    width: 600px;
    background-color: rgb(204, 200, 200);
    margin-top: 20px;
}

.formulario fieldset legend {
    text-align: left;
}
.formulario .boton {
    margin-top: 10px;
}
.footer {
    align-content: center;
    background-color: black;
    padding: 10px;
    height: 200px;
    padding: 5px;
    display:grid;
    grid-template-areas: 
    "h3 h3"
    "img lista"
    "nombre lista";
    grid-template-rows: 15% 40% 15%;
    grid-template-columns: 30% 70%;
}
.img {
    align-self: center;
    justify-self: center;
    grid-area: img;
}
.lista {
    grid-area: lista;
}
.nombre {
    align-self: start;
    justify-self: center;
    grid-area: nombre;
}
.footer a {
    grid-area:h3;
color: white;
}
.img img {
    width:80px;
}
.footer h5 {
    font-family: "roboto condensed", sans-serif;
    color: white;
}
.lista {
    align-self: center;
    text-align: center;
}
.lista ul li{
    margin-left: 110px;
    margin-right: 110px;
    display:inline;
}

.footer a {
    align-self: center;
    justify-self: center;
    font-family: "Russo One", sans-serif;
    color: white !important;
}

@media (max-width:991px){
    .head nav {
        display:grid;
        width:100%;
        grid-template-columns: 1fr 1fr;
        justify-items: center;
    }
    .head nav img {
        padding-top:5px;
    }
    .head nav ul {
        width: 100%;
        display:flex;
        flex-wrap: wrap;
        flex-direction:column;
        align-content: center;
        align-items: center;
        padding-top: 8px;
        
    }
    .head nav ul li a {
        font-size: 15px;
    }
    .bienvenida {
        width:100%;
        height:600px;
    }
    .bienvenida h1 {
        font-size:50px;
        padding-top:250px;
    }
    .box.sticky {
        margin-left: 40%;
        margin-top:550px;
    }
    .titulo {
        height: 1900px;
    }
    .titulo h1 {
        margin-left: 20px;
        margin-right: 20px;
        padding-top: 10px;
        font-size: 40px;
    }
    .titulo p {
        margin-top: 20px;
        margin-left: 40px;
        margin-right: 40px;
        margin-bottom: 0px;
        padding-bottom: 0px;
        font-size: 20px;
    }
    div.discos {
        margin: 30px 40px 20px 40px;
    }
    .discos h2 {
        font-size: 25px;
        margin-bottom: 10px;
    }
    .discos table tr{
        font-size: 15px;
    }
    .multimedia {
    height: 1050px;
}
    .multimedia .fotos h2 {
        font-size: 30px;
    }
    .multimedia .videos h2 {
        font-size: 30px;
    }
    .fotos img {
        width: 120px;
        height: 100px;
        padding: 4px;
        margin: 10px;
    }
    .videos {
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .videos iframe {
        margin-top:15px;
        padding:0px;
        width: 280px;
        height: 150px;
    }
    .formulario {
        padding-top: 20px;
    }
    .datos {
        width: 300px;
    }
    .footer h3 {
        color: white;
    }
    .footer {
        height: 135px;
        padding: 5px;
        display:grid;
        grid-template-areas: 
        "mapa mapa"
        "img lista";
        grid-template-rows: 30% 70%;
        grid-template-columns: 50% 50%;  
    }
    .img {
        grid-area: img;
    }
    .footer a {
        font-size: 10px;
        text-align: center;
        grid-area: mapa;
    }
    .lista {
        grid-area: lista;
    }
    .nombre {
        display:none;
    }
    .footer h3 {
        width: 100%;
        margin-left: 0px;
    }
    .footer .lista ul {
        margin:0px;
        padding:0px;
    }
    .footer .lista li {
        display:block;
        margin-left:0px;
        margin-right: 0px; 
    }
    .img img {
        width: 50px;
        margin-left:0px;
    } 
}