*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    list-style: none;
}
@font-face {
    font-family: "Roboto Condensed";
    src: url("./fuente/Roboto_Condensed/RobotoCondensed-Light.ttf")
}
@font-face {
    font-family: "russo one";
    src: url("./fuente/Russo_One/RussoOne-Regular.ttf");
}
.nav-link:hover {
    color:red !important;   
}
.imagen {
    width: 300px;
    height: 400px;
}
.padding {
    padding-top: 10px;
}
.inicio {
    display:relative;
    background-image: url("imagenes/Sin-nombre.jpg");
    margin-top:10px;
    height:850px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.inicio__h1 {
    text-align:center;
    color:white;
    font-size:140px;
    padding-top:150px
    }
    .inicio__box {
        position: absolute;
        top: 0px;
        margin-left: 1600px;
        margin-top:700px;
    }
.inicio__img {
    border: 5px solid red;
    border-radius:50%;
    width:110px;
    height:105px;
}
.titulo {
    background-image: url('imagenes/20765.jpg');
    height: 1050px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.titulo__h1 {
    padding-top: 10px;
    margin-top: 10px;
    color: white;
    text-align: center;
    font-size: 70px;
    font-family: "roboto condensed", sans-serif;
}
.titulo__p {
    color: white;
    font-size: 25px;
    text-align: justify;
    margin: 70px 70px;  
}
.titulo__discos {
    font-family: "roboto condensed", sans-serif;
    color: white;
    text-align: center;
    margin-top: 100px;
}
.titulo__h2 {
font-size: 50px;
}
.tabla {
    font-size: 25px;
    margin: 0 auto;
    border-collapse: collapse;
}
.tabla__columna {
    border: 1px solid white;
    padding: 5px;
}
.multimedia {
    margin-top: 10px;
    padding: 50px;
    background-image: url('imagenes/audience-band-concert-crowd-wallpaper-preview.jpg');
    height: 1200px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.multimedia__h2 {
    font-family: "roboto condensed", sans-serif;
    font-size: 40px;
    color: white;
    text-align: center;
    background-color: brown;
    width: 100%;
    height: 60px;
    padding-top: 10px;
}
.multimedia__img {
    border-style: solid;
    color: white;
    border-radius: 10%;
    width: 400px;
    height: 300px;
    padding: 2px;
    margin: 10px;
}
.multimedia__img:hover {
    color:rgb(243, 63, 63);
}
.multimedia__videos {
    text-align: center;
}
.multimedia__link {
    margin-top: 20px;
    padding: 0px 70px 0px 70px;
}
.formulario {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    background-image: url("imagenes/contact.jpg");
    background-size: cover;
    height: 450px;
    align-items: center;
}

.formulario__h2 {
    font-family: "roboto condensed", sans-serif;
    font-size: 40px;
    background-color: black;
    color: white;
    margin-top: 20px;
}
.formulario__login{
    padding-top: 10px;
}
.formulario__fieldset {
    text-align: center;
    width: 600px;
    background-color: rgb(204, 200, 200);
}
.formulario__botones {
    margin-top: 10px;
    text-align: center;
}
.tienda {
    font-family: "Russo One", sans-serif;
    font-size: 50px;
}
.footer {
    align-content: center;
    background-color: black;
    height: 200px;
    margin-top:10px;
    display:grid;
    grid-template-areas: 
    "h3 h3"
    "img lista"
    "nombre lista";
    grid-template-rows: 15% 40% 15%;
    grid-template-columns: 30% 70%;
}
.footer__img {
    align-self: center;
    justify-self: center;
    grid-area: img;
}
.footer__lista {
    grid-area: lista;
}
.footer__nombre {
    align-self: start;
    justify-self: center;
    grid-area: nombre;
}
.footer__h3 {
    align-self: center;
    justify-self: center;
    grid-area:h3;
    font-family: "Russo One", sans-serif;
color: white;
}
.footer a{
    align-self: center;
    justify-self: center;
    grid-area:h3;
    font-family: "Russo One", sans-serif;
color: white;
}
.footer__img-link {
    width:80px;
}
.footer__nombre-h5 {
    font-family: "roboto condensed", sans-serif;
    color: white;
}
.footer__lista {
    align-self: center;
    text-align: center;
}
.footer__lista-a {
    margin-left: 110px;
    margin-right: 110px;
    display:inline;
}

.footer a {
    align-self: center;
    justify-self: center;
    font-family: "Russo One", sans-serif;
    color: white !important;
}
@media (max-width:991px){
    .inicio {
        width:100%;
        height:600px;
    }
    .inicio__h1 {
        font-size:50px;
        padding-top:250px;
    }
    .inicio__box {
        margin-left: 40%;
        margin-top:550px;
    }
    .titulo {
        height: 1900px;
    }
    .titulo__h1 {
        font-size: 40px;
        text-align: center;
    }
    .titulo__p {
        margin: 20px 40px 0px 40px;
        font-size: 20px;
    }
    .titulo__discos {
        margin: 30px 40px 20px 40px;
    }
    .titulo__h2 {
        font-size: 25px;
    }
    .tabla{
        font-size: 15px;
    }
    .multimedia {
    height: 1050px;
}
.multimedia__fotos{
    text-align: center;
}
    .multimedia__h2 {
        font-size: 30px;
    }
    .multimedia__img {
        width: 120px;
        height: 100px;
        padding: 4px;
        margin: 10px;
    }
    .multimedia__videos {
        display:flex;
        flex-direction:column;
        align-items: center;
    }
    .multimedia__link {
        margin-top:15px;
        padding:0px;
        width: 280px;
        height: 150px;
    }
    .formulario {
        padding-top: 20px;
        height: 550px;
    }
    .formulario__fieldset{
        width: 400px;
    }
    .formulario__login {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .datos {
        width: 300px;
    }
    .tienda {
    font-size: 30px;
    }
    .footer {
        height: 135px;
        padding: 5px;
        display:grid;
        grid-template-areas: 
        "mapa mapa"
        "img lista";
        grid-template-rows: 30% 70%;
        grid-template-columns: 50% 50%;  
    }
    .footer__img {
        grid-area: img;
    }
    .footer__h3{
        text-align: center;
        grid-area: mapa;
    }
    .footer a {
        text-align: center;
        grid-area: mapa;
    }
    .footer__lista {
        grid-area: lista;
    }
    .footer__nombre {
        display:none;
    }
    .footer__h3 {
        width: 100%;
        margin-left: 0px;
    }
    .footer__lista-ul {
        margin:0px;
        padding:0px;
    }
    .footer__lista-a {
        display:block;
        margin-left:0px;
        margin-right: 0px; 
    }
    .footer__img-link {
        width: 50px;
        margin-left:0px;
    } 
}